{% extends 'base.html.twig' %}

{% block title %}New Pin{% endblock %}

{% block body %}
	<h1>Create A Pin</h1>

	{{ form_start(createPinForm) }}

        {{ form_widget(createPinForm) }}

        <input type="submit" value="Create Pin" formnovalidate>
        
	{{ form_end(createPinForm) }}


{% endblock %}
