<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
            PinteClone | {% block title %}{% endblock %}
		</title>
		{% block stylesheets %}{% endblock %}

		{% block javascripts %}{% endblock %}
	</head>
	<body>
		<nav>
			<ul>
				<li><a href="{{ path('app_home') }}">Home</a></li>
				<li><a href="{{ path('app_pins_create') }}">Create</a></li>
			</ul>
		</nav>
		{% block body %}{% endblock %}
	</body>
</html>
